// color 
$light_g_c: hsl(180, 52%, 96%);
$light_g_c_tablet: hsl(180, 31%, 95%);
$dark_g_c: hsl(180, 8%, 52%);
$very_dark_g_c: hsl(180, 14%, 20%);

$d_d_c_an: hsl(180, 29%, 50%);


// font
$font_s: 0.9375rem;

